/*清除默认 margin，padding*/
*{
	margin:0px;
	padding:0px;
}
/*设置 body 字体等信息*/
body{
	font:12px/1.5 "微软雅黑", '宋体', STHeiTi,Arial, Helvetica, sans-serif;
	color:#333;
	text-align:left;
	background-color:#fff;
}
/*清除 ul li 的样式*/
ul,li{
	list-style-type:none;
}
/*设置 a 标签的下划线和字体颜色*/
a{
	text-decoration:none;
	color:white;
}
/*清浮动*/
.clearfix:after{
	overflow:hidden;
	clear:both;
	display:block;
	height:0;
	content:"";
} 
/*左浮动*/
.fl {
	float:left;
}
/*右浮动*/
.fr {
	float:right;
}
/*设置常用字体类型*/
.ff_Arial{
	font-family:Arial, Helvetica, sans-serif;
}
/*加粗字体*/
.ff_song{
	font-family:'宋体';
}
/*设置字体大小*/
.font14{
	font-size:14px;
}
/*设置页面宽度*/
.comContent{
	width:914px;
	margin:0 auto;
}

/*公用头部*/
header{
	overflow:hidden;
}
/*设置头部灰色背景旗头*/
header .headtop{
	background:#e9e9e9;
	border:#dadada solid 1px;
	border-top:none;
	height:30px;
}
/*设置旗头与logo之间的间距*/
header .headmain{
	margin-top:12px;
}
/*设置右侧 logo 的上边距*/
header .headmain span{
	margin-top:12px;
}

/*公用尾部*/
footer{
	background:#383838;
	text-align: center;
	color:#FFF;
	line-height:28px;
	margin-top:20px !important;
}
