
/*body*/
body {
	background: url(../img/bg.png) no-repeat;
	background-size: 100% 100%;
}

html, body {
	height: 100%;
}

.wrap {
	height: 100%;
}

/*内容 content 部分*/
.content {
	width: 70%;
	height: 70%;
	margin: 0 auto;
	margin-top: 20%;
}

/* 上半部分 */
.content_left_list {
	height: 50%;
	/*弹性布局*/
	display: flex;
	/*换行*/
	flex-wrap: wrap;
	/*主轴方向对齐方式*/
	justify-content: space-between;
	/*多跟轴线的交叉轴对齐方式*/
	align-content: space-between;
}
/*奇数 li*/
.content_left_list li:nth-child(odd) {
	width: 60%;
	height: 32%;
}
/*偶数 li*/
.content_left_list li:nth-child(even) {
	width: 39%;
	height: 32%;
}
/*li 下的 img*/
.content_left_list li img {
	width: 100%;
	height: 100%;
}

/* 下半部分 */
.content_right_list {
	margin-top: 5px;
	/*width: 100%;*/
	height: 50%;
	/*设置为弹性容器*/
	display: flex;
	/*换行*/
	flex-wrap: wrap;
	/*主轴方向对齐方式*/
	justify-content: space-between;
	/*多跟轴线的交叉轴对齐方式*/
	align-content: space-between;
}
/*奇数 li*/
.content_right_list li:nth-child(odd) {
	width: 39%;
	height: 32%;
}
/*偶数 li*/
.content_right_list li:nth-child(even) {
	width: 60%;
	height: 32%;
}
/*li 下的 img*/
.content_right_list li img {
	width: 100%;
	height: 100%;
}



